[submodule "projects/Custom-Sale-Contract"]
	path = projects/Custom-Sale-Contract
	url = git@github.com:jhfnetboy/Custom-Sale-Contract.git
[submodule "projects/Tokenomics-Thinking"]
	path = projects/Tokenomics-Thinking
	url = git@github.com:jhfnetboy/Tokenomics-Thinking.git
[submodule "projects/MyNFT"]
	path = projects/MyNFT
	url = git@github.com:jhfnetboy/MyNFT.git
[submodule "projects/ETHChiangMai-Hachathon-2026"]
	path = projects/ETHChiangMai-Hachathon-2026
	url = git@github.com:jhfnetboy/ETHChiangMai-Hachathon-2026.git
[submodule "submodules/mushroomdao-site"]
	path = submodules/mushroomdao-site
	url = git@github.com:MushroomDAO/mushroomdao.github.io.git
[submodule "submodules/mushroomdao-docs"]
	path = submodules/mushroomdao-docs
	url = git@github.com:MushroomDAO/docs.git
